@font-face {
    font-family: 'digital-7_monomono';
    src: url("./fonts/digital-7_mono-webfont.woff2") format("woff2"), url("./fonts/digital-7_mono-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  @font-face {
    font-family: 'marker_feltregular';
    src: url("./fonts/marker_felt-webfont.woff2") format("woff2"), url("./fonts/marker_felt-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
  * {
    box-sizing: border-box; }
  
  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("../images/punkbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  
  p {
    color: #f3cd1e;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-shadow: 2px 2px 3px #000;
    text-align: center;
    text-transform: uppercase; }
  
  .hide {
    display: none; }
  
  #wrap {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll; }
    #wrap #items {
      position: relative;
      width: 1090px;
      margin: 0 auto;
      /* guess */
      /* guess-ghost */
      /* guessed */ }
      #wrap #items #guitar {
        position: relative;
        z-index: 100; }
      #wrap #items #travis {
        position: absolute;
        top: -100px;
        left: -325px;
        z-index: 5; }
      #wrap #items #anachy {
        position: absolute;
        right: -120px;
        bottom: 300px;
        z-index: 10; }
      #wrap #items #turns, #wrap #items #turns-ghost {
        font-family: "digital-7_monomono", monospace;
        position: absolute;
        left: 515px;
        top: 274px;
        font-size: 3.1rem;
        color: yellow;
        z-index: 500;
        color: #f12f15; }
  @keyframes pulse {
    0% {
      opacity: .95; }
    50% {
      opacity: .8; }
    100% {
      opacity: .95; } }
      #wrap #items #turns {
        text-shadow: 0 0 10px #bb2410, 0 0 30px #e88173;
        opacity: 0.9;
        animation: pulse 1.5s infinite; }
      #wrap #items #turns-ghost {
        z-index: 400;
        color: whitesmoke; }
      #wrap #items #error {
        position: absolute;
        left: 342px;
        top: 493px;
        z-index: 1100;
        font-family: "digital-7_monomono", monospace;
        font-size: 1.2rem;
        color: #30e568;
        text-shadow: 0 0 5px #29d35d, 0 0 30px #65e58c;
        opacity: 0.9; }
      #wrap #items #guess, #wrap #items #guess-ghost {
        position: absolute;
        left: 332px;
        top: 550px;
        z-index: 1000;
        font-family: "digital-7_monomono", monospace;
        font-size: 3rem;
        color: #30e568; }
        #wrap #items #guess table#word, #wrap #items #guess table#word-ghost, #wrap #items #guess-ghost table#word, #wrap #items #guess-ghost table#word-ghost {
          table-layout: fixed;
          border-collapse: separate;
          border-spacing: 7px; }
          #wrap #items #guess table#word td, #wrap #items #guess table#word-ghost td, #wrap #items #guess-ghost table#word td, #wrap #items #guess-ghost table#word-ghost td {
            height: 3rem;
            width: 1.68rem;
            text-align: center;
            padding: 0;
            text-shadow: 0 0 10px #29d35d, 0 0 30px #65e58c;
            opacity: 0.9; }
      #wrap #items #guess-ghost {
        z-index: 900;
        color: purple;
        opacity: 0.6; }
        #wrap #items #guess-ghost table#word-ghost td {
          text-shadow: none; }
      #wrap #items #guessed {
        position: absolute;
        left: 91px;
        top: 551px;
        width: 160px;
        height: 150px;
        word-wrap: break-word;
        font-family: "marker_feltregular", "Marker Felt", serif;
        font-size: 1.2rem;
        line-height: 1.67rem;
        letter-spacing: 0.1rem;
        z-index: 1500;
        transform: rotate(-7.3deg);
        opacity: 0.5; }
      #wrap #items #wins {
        position: absolute;
        left: 203px;
        top: 615px;
        font-family: "marker_feltregular", "Marker Felt", serif;
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        z-index: 1600;
        transform: rotate(-7.3deg);
        opacity: 0.5; }
    #wrap #letterBank {
      position: relative;
      width: 200px;
      height: 250px;
      top: -400px;
      margin-left: 5%;
      background-color: #fff;
      padding: 20px;
      transform: rotate(-10deg); }
  
  #modal {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    background: linear-gradient(#222, #111);
    pointer-events: none;
    z-index: 10000;
    border: 20px solid #000;
    /* state */ }
    #modal #state {
      position: absolute;
      width: 767px;
      height: 300px;
      left: 50%;
      top: 50%;
      margin-left: -384px;
      margin-top: -150px;
      /* instructions */ }
      #modal #state .instructions {
        margin-top: 4rem; }
  
  /* #modal */
  #win, #lose {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.7);
    pointer-events: none;
    z-index: 1800; }
    #win .message, #lose .message {
      position: absolute;
      width: 600px;
      height: 200px;
      left: 50%;
      top: 50%;
      margin-left: -300px;
      margin-top: -100px;
      background-color: #222;
      background: linear-gradient(#222, #111);
      z-index: 2000;
      text-align: center;
      border: 5px solid #222;
      border-image: linear-gradient(to bottom, #000 0%, #222 100%);
      border-image-slice: 1; }
      #win .message .text, #lose .message .text {
        z-index: 100;
        padding: 1rem; }
    #win #copper, #lose #copper {
      position: absolute;
      left: 150px;
      top: -255px;
      z-index: 1900; }
  
  /* win, lose */
  #lose .message {
    height: 490px;
    margin-top: -240px; }